/* Custom scroll bar */

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color:rgba(102, 102, 102, 0.575) ;
}


/* Global */

*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}


/* Barra de navegación */

nav{
    height: 80px;
    width: 100%;

    font-family: 'Raleway', sans-serif;
    /* box-shadow: 2px 2px 2px 2px gray; */
    box-shadow:  14px 14px 15px #9b9b9b,
    -14px -14px 15px #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav a{
    text-decoration: none;
    color:black;
    padding-right: 15px;
}

#logo_x{
    height: 40px;
    padding-left: 10px;
}

#home{
    height: 600px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: center;
}

#home p{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Play', sans-serif;
    font-size: 22px;
}

#home1{
    height: 300px;
    width: 50%;
}

#home2{
    height: 450px;
    width: 50%;
}

#home h2{
    font-family: 'Play', sans-serif;
    font-size: 40px;
    text-shadow: rgb(145, 142, 142) 0.05em 0.05em;
}


#home img{
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.redes_sociales{
    font-size: 30px;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 350px;
    position: relative;
    margin: 8px;

    border-radius: 48px;
    background: #f1f1f1;
    box-shadow:  21px 21px 42px #c7c7c7,
                 -21px -21px 42px #ffffff;
}



.grid-container{
    height: 800px;
    display: grid;
    
    grid-template-columns: auto auto;
    /* column-gap: 35px; */
    /* row-gap: 15px; */
    grid-gap: 160px;
    justify-content: center;
    align-items: center;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container{
    text-align: center;
}

.camara{
    height: 200px;
    width: 220px;
    /* padding-bottom: 4%; */
    background-image: url("../images/camera.jpg");
    background-position: center;
    background-size: cover;
}

.moto{
    height: 200px;
    width: 220px;
    background-image: url("../images/Moto.jpg");
    background-position: center;
    background-size: cover;
}

.lab{
    height: 200px;
    width: 220px;
    background-image: url("../images/lab.jpg");
    background-position: center;
    background-size: cover;
}

.moon{
    height: 200px;
    width: 220px;
    background-image: url("../images/casa.jpg");
    background-position: center;
    background-size: cover;
}

#Titulo{
    padding-top: 30px;
    font-family: 'Play', sans-serif;
    text-align: center;
    font-size: 40px;
    text-shadow: rgb(145, 142, 142) 0.1em 0.1em;
}

.carousel-inner img {
    width: 100%;
    max-height: 700px;
}

.carousel-inner{
 height: 700px;
}

.w-100 {
    width: 100% !important;
    height: 100%;
}


/* Timeline */

.timeline-section{
    background-color: #24292d;
    min-height: 100vh;
    padding: 100px 15px;
}

.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 16px;
    color: #f1f1f1;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: #2f363e;
    padding: 30px;
    border-radius: 7px;
}

.timeline-content h3{
    font-size: 20px;
    color: #c7c7c7;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p{
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* Media Query */

/* Timeline */

@media(max-width: 767px){
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
}