
.presentation{
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    font-family: $text_principal;
    color: $text-color;
    padding-top: 5%;
    text-align: center;

    h4{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    }
    
    p{
        font-size: 20px;
        margin-top: 0px;
    }

}
    

