@import './_variables';
@import './_nesting.scss';

body{   
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-sizing: border-box;
    background: #200122;  /* fallback for old browsers */
    background: linear-gradient(to left, #6f0000, #200122);
    
}

.home-box{
    height: 80vh;
    // height: 80vmin;
    width: auto;
    position: relative;
    padding: 10px;
    margin: 4%;
    border-radius: 15px;
    background-color: rgba( 255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
}

.principal-image{
    background-image: url('../images/nes.png');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    width: 50%;
}

.redes_sociales{
    height: 80px;
    width: 350px;

    font-size: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: relative;
    margin: 8px;
    margin-top: 60px;

    border-radius: 48px;
    background: rgba( 0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.05);
    box-shadow:  8px 8px 8px #0000005e,
                 -8px -8px 42px #00000028;
}

.fab {
    color: $text-color;
  }


// Responsive

@media (min-width: 360px) and (max-width: 1024px) {
    .home-box{
        height: 90vh;
        display: flex;
        flex-direction:column-reverse;
    }

    .principal-image{
        height: 50%;
        width: auto;
        background-size: 80%;
    }

    .presentation{
        height: 50%;
        width: auto;
        color: #f1f1ff83;
        
        h3{
            font-size: 23px;
        }

        p{
            font-size: 15px;
            text-align: center;
        }

        .redes_sociales{
            width: 80%;
            height: 50px;
            font-size: 20px;
            bottom: 30px
        }
    }
}