.presentation {
  width: 50%;
  height: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #fff1fed7;
  padding-top: 5%;
  text-align: center;
}
.presentation h4 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.presentation p {
  font-size: 20px;
  margin-top: 0px;
}

.skill-box {
  width: 250px;
  height: auto;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skill-box p {
  text-align: center;
  color: #fff1fed7;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: #200122;
  background: linear-gradient(to left, #000000, #403f3f);
}

.home-section {
  height: auto;
  padding: 10px;
  margin: 4%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  box-shadow: 4px 2px 15px 0.5px rgba(0, 0, 0, 0.288);
}

.principal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.image-principal {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nes {
  width: 50%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.redes-sociales {
  height: 60px;
  width: 300px;
  font-size: 24px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 8px;
  border-radius: 48px;
  background: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.05);
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 8px 8px 3px 0 rgba(0, 0, 0, 0.19);
}

.fab {
  color: #fff1fed7;
}

.section-botones {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.07);
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 8px 8px 3px 0 rgba(0, 0, 0, 0.19);
  font-family: "Poppins", sans-serif;
  color: #fff1fed7;
  font-size: 16px;
  margin-left: 10px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

button:active {
  box-shadow: 0 5px rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}

/* Timeline */
.division-estudios {
  height: 50px;
  width: 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #fff1fed7;
  border-radius: 10px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 8px 8px 3px 0 rgba(0, 0, 0, 0.19);
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #f1f1f1a4;
  left: calc(50% - 3px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #f39d08;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 16px;
  color: #fff1fed7;
  margin: 6px 0 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}

.timeline-content {
  width: 85%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 7px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 8px 8px 3px 0 rgba(0, 0, 0, 0.19);
  font-family: "Poppins", sans-serif;
}

.timeline-content h3 {
  font-size: 20px;
  color: #fff1fed7;
  margin: 0 0 5px;
  text-transform: capitalize;
  font-weight: bold;
}

.timeline-content p {
  color: #fff1fed7;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.skills-section {
  margin-bottom: 80px;
}

.inner {
  padding-top: 20px;
}

.header {
  text-align: center;
  color: #fff1fed7;
  padding: 1rem;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #2ecc71;
}

.container {
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.skill-title {
  color: #fff1fed7;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-icon {
  transition: 0.4s;
  font-size: 35px;
}

#python {
  color: darkgrey;
}

#html {
  color: #F16529;
}

#css {
  color: dodgerblue;
}

#sass {
  color: #cc5de8;
}

#javascript {
  color: #fd7e14;
}

#linux {
  color: black;
}

.skill-box:hover .skill-icon {
  transform: translateY(-7px);
}

@media (min-width: 360px) and (max-width: 1024px) {
  .principal {
    display: flex;
    flex-flow: column-reverse wrap;
    width: auto;
    height: auto;
  }

  .presentation {
    width: auto;
  }
  .presentation h3 {
    font-size: 20px;
  }
  .presentation p {
    font-size: 18px;
    text-align: center;
  }

  .nes {
    width: 85%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    margin-top: 15px;
  }

  .image-principal {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .redes-sociales {
    width: 80%;
    height: 50px;
    font-size: 20px;
  }

  .division-estudios {
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 10px 0 -1px;
  }

  .timeline-content {
    width: auto;
  }

  .timeline-items::before {
    left: 7px;
  }

  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }

  .timeline-item:nth-child(odd),
.timeline-item:nth-child(even) {
    padding-left: 37px;
  }

  .timeline-dot {
    left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
